block login
  .login
    form.login(method="POST")
      div
        label Username
          input(type="text")
      //- div
      //-   label Password
      //-     input(type="password")
      button Let's Chat!
